@*@model ProjectAspNetCore.Models.Animal


<h5 class="card-title">Name: @Model.Name</h5>
<p class="card-text">Description: @Model.Description</p>
<p class="card-text"><small class="text-muted">Number of comments: @Model.Comments!.Count</small></p>
<a href="@Url.Action("AnimalInformation", "Animal", new { id = @Model.AnimalId })" class="btn btn-info">Full Details</a>*@